{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff                    #:git{:url "https://github.com/jacobobryant/biff", :sha "94f209e", :tag "v1.8.14"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        metosin/muuntaja                    {:mvn/version "0.6.8"}
        ring/ring-defaults                  {:mvn/version "0.3.4"}
        metosin/reitit-malli                {:mvn/version "0.7.2"}
        metosin/reitit-ring                 {:mvn/version "0.7.2"}
        org.clojure/clojure                 {:mvn/version "1.11.1"}

        tick/tick {:mvn/version "0.7.5"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        metosin/jsonista {:mvn/version "0.3.8"}

        ;; Notes on logging: https://gist.github.com/jacobobryant/76b7a08a07d5ef2cc076b048d078f1f3
        org.slf4j/slf4j-simple     {:mvn/version "2.0.0-alpha5"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
        org.slf4j/jul-to-slf4j     {:mvn/version "1.7.36"}
        org.slf4j/jcl-over-slf4j   {:mvn/version "1.7.36"}

        com.google.api-client/google-api-client {:mvn/version "2.7.0"}
        com.google.apis/google-api-services-sheets {:mvn/version "v4-rev20220927-2.0.0"}
        com.google.auth/google-auth-library-oauth2-http {:mvn/version "1.23.0"}
        com.google.http-client/google-http-client-gson {:mvn/version "1.44.1"}}
 :aliases
 {:dev {:extra-deps {com.biffweb/tasks {:git/url "https://github.com/jacobobryant/biff", :git/sha "94f209e", :git/tag "v1.8.14", :deps/root "libs/tasks"}}
        :extra-paths ["dev" "test"]
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                   "-XX:+CrashOnOutOfMemoryError"
                   "-Dclojure.storm.instrumentEnable=true"
                   "-Dclojure.storm.instrumentOnlyPrefixes=in.facebookleads"
                   "-Dbiff.env.BIFF_PROFILE=dev"]
        :main-opts ["-m" "com.biffweb.task-runner" "tasks/tasks"]}
  :prod {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"
                    "-Duser.timezone=Asia/Kolkata"
                    "-Dbiff.env.BIFF_PROFILE=prod"]
         :main-opts ["-m" "in.facebookleads"]}}}
